@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply h-full antialiased text-neutral-950;
	}
}
.react-draggable {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 350ms;
	z-index: 50;
}

.react-draggable-dragging {
	transition-property: box-shadow;
	transition-duration: 350ms;
	z-index: 99;
	--tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}

.react-grid-placeholder {
	background-color: #f3f3f3;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
	border-radius: 1rem;
}
